@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  background-image: url("../images/login.png");
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: unset;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6da1f3;
}

.form-item {
  width: 423px;
  height: 41px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  font-size: 28px;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.video {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scaleX(1.5);
  -moz-transform: scaleX(1.72);
}

.show {
  display: block;
}

/* scores */

.title {
  font-size: 50px;
  color: #6da1f3;
  font-weight: 600;
}

.table {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.table-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item-nickname,
.item-score,
.number {
  width: 33%;
  display: flex;
  justify-content: center;
  color: cornflowerblue;
  font-size: 27px;
  font-weight: bolder;
}

.exit {
  position: absolute;
  top: 30px;
  right: 20px;
}

.message {
  text-align: center;
  font-size: 35px;
  color: crimson;
}

.top-100 {
  top: 100px;
}
